<%- include('includes/head')%>
<%- include('includes/nav')%>

<div class="container">
  <div class="row">
    <div class="col-lg-1"></div>

    <div class="col-lg-10">
      <h1 class="text-center">Agenda</h1>
      <p class="text-center lead">Seus contatos</p>

      <%- include('includes/messagens') %>

      <div class="responsive-table">
        <table class="table  my-3 text-left">
          <tr>
            <td>Davi</td>
            <td>Nascimento</td>
            <td>123456789</td>
            <td>xxxx@gmail.com</td>
          </tr><tr>
            <td>Davi</td>
            <td>Nascimento</td>
            <td>123456789</td>
            <td>xxxx@gmail.com</td>
          </tr><tr>
            <td>Davi</td>
            <td>Nascimento</td>
            <td>123456789</td>
            <td>xxxx@gmail.com</td>
          </tr>
        </table>
      </div>

    </div>

    <div class="col-lg-1"></div>

  </div>
</div>

<%- include('includes/footer') %>

